*
{
    margin: 0px;
    padding: 0px;
}

.closing
{
  height: 164px;
  width: 100%;
  background-image: url('CSS IMG/closingbc.png');
  /* background-repeat: no-repeat; */
}

.Innerclosing
{
    padding-left: 200px;
    padding-right: 152px;
}

.blocks
{
    float: left;
    height: 154px;
    width: 190px;
    padding-top: 22px;
    padding-left: 5px;
}

.closinganchor
{
    font-size: 16px;
    font-family: arial;
    color: #ffffff;
}

.closinglist
{
    margin-left: 0px;
    list-style-type: none;
    margin-top: 4px;
}
.listanchor
{
    font-size: 12px;
    font-family: arial;
    color: #ffffff;
    text-decoration: none;
}

.sitepurchase
{
    font-size: 12px;
    font-family: arial;
    color: #ffffff;
    margin-top: 9px;
}
}