*
{
    margin: 0px;
    padding: 0px;
}

.section1
{
    height: 311px;
    width: 100%;
    background-color: white;
}

.InnerSection1
{
    padding-left: 200px;
    padding-right: 166px;
}

.part1
{
    float: left;
    width: 571px;
    height: 311px;
    background-image: url('CSS IMG/bcsection1.png');
    background-repeat: no-repeat;
}

.tick
{
    float: left;
    margin-right: 12px;
}

.hs
{
    padding-top: 37px;
}

.hs h2
{
    font-family: arial;
    font-size: 25px;
    color: #3e3e3e;
}

.hs h3
{
    font-family: arial;
    font-size: 20px;
    color: #bf0203;
}

.ps
{
    font-family: arial;
    font-size: 16px;
    color: #929292;
}

.part2
{
    float: left;
    width: 387px;
    height: 311px;
    background-image: url('CSS IMG/boxgrey.png');
    background-repeat: no-repeat;
}

.exam
{
    width: 207px;
    height: 68px;
    margin-top: 19px;
    background-image: url('CSS IMG/examrequest.png');
    background-color: #423c3c;
}

.h23
{
    padding-top: 3px;
    font-family: arial;
    padding-bottom: 3px;
    text-align: center;
    color: #fef9f9;
}

.h23 h2
{
    font-size: 34px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.h23 h3
{
    padding-top: 0px;
    font-size: 23px;
}

.form input
{
    margin-top: 21px;
    margin-left: 15px;
    width: 327px;
    height: 28px;
    border-radius: 5px;
    border: 1px solid #727272;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 15px;
    font-family: arial;
    color: #999999;
}

#imbtn
{
    margin-top: 21px;
    margin-left: 246px;
    width: 126px;
    height: 28px;
    border-radius: 5px;
    border: 1px solid #727272;
    font-size: 17px;
    font-family: arial;
    color: #4a4f54;
}